---                               
	import './src/styles/global.css'  
	import Header from '../components/Header.jsx'
	import Footer from '../components/Footer.jsx'
---   

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ignacio de Loyola Díaz🤝</title>
	</head>
	<script src="https://kit.fontawesome.com/8f1d349513.js" crossorigin="anonymous"></script>
	<body class="bg-[#00444f] text-[#e6ff2b]">

		<Header/>

		<div class="relative flex justify-end p-4">
			<!-- Icono de menú -->
			<button id="menuButton" class="relative text-5xl text-[#e6ff2b] focus:outline-none">
				<i class="fa-solid fa-ellipsis-vertical">ILDJ</i>
			</button>
		
			<!-- Menú desplegable -->
			<div id="dropdownMenu" class="hidden absolute right-0 top-full mt-2 w-48 bg-[#00444f] rounded-md shadow-lg">
				<a href="/" class="block px-4 py-2 text-[#e6ff2b] hover:bg-[#00444f]">Inicio</a>
				<a href="/contacto" class="block px-4 py-2 text-[#e6ff2b] hover:bg-[#00444f]">Contacto</a>
			</div>
		</div>
		
	
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const menuButton = document.getElementById('menuButton');
				const dropdownMenu = document.getElementById('dropdownMenu');
	
				if (menuButton && dropdownMenu) {
					menuButton.addEventListener('click', () => {
						dropdownMenu.classList.toggle('hidden');
					});
	
					document.addEventListener('click', (event) => {
						if (!menuButton.contains(event.target as Node) && !dropdownMenu.contains(event.target as Node)) {
							dropdownMenu.classList.add('hidden');
						}
					});
				}
			});
		</script>
		<slot />

		<Footer/>
		
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
