---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

---

<Layout>
  <div class="flex items-center justify-center gap-2 mt-0 h-[calc(100vh-4rem)]">
    <img class="w-45 h-auto rounded-lg" src="/PerfilAula.jpg" alt="Foto de Ignacio de Loyola Díaz" />
    <h1 class="text-4xl font-bold text-[#e6ff2b]">Ignacio de Loyola Díaz Jiménez</h1>
  </div>
</Layout>

